/* line 1, ../sass/style.sass */
html {
  box-sizing: border-box;
}

/* line 5, ../sass/style.sass */
*, *:before, *:after {
  box-sizing: inherit;
}

/* line 9, ../sass/style.sass */
body {
  margin: 0;
  padding: 0;
  display: flex;
  background: #7A419B;
  min-height: 100vh;
  background: linear-gradient(135deg, #7c1599 0%, #921099 48%, #7e4ae8 100%);
  background-size: cover;
  align-items: center;
  justify-content: center;
}

/* line 21, ../sass/style.sass */
.player {
  max-width: 750px;
  border: 5px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  position: relative;
  font-size: 0;
  overflow: hidden;
}

/* This css is only applied when fullscreen is active. */
 * &:fullscreen 
 *   max-width: none
 *   width: 100%
 *
 * &:-webkit-full-screen 
 *   max-width: none
 *   width: 100% */
/* line 39, ../sass/style.sass */
.player__video {
  width: 100%;
}

/* line 43, ../sass/style.sass */
.player__button {
  background: none;
  border: 0;
  line-height: 1;
  color: white;
  text-align: center;
  outline: 0;
  padding: 0;
  cursor: pointer;
  max-width: 50px;
}
/* line 54, ../sass/style.sass */
.player__button:focus {
  border-color: #ffc600;
}

/* line 58, ../sass/style.sass */
.player__slider {
  width: 10px;
  height: 30px;
}

/* line 63, ../sass/style.sass */
.player__controls {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  transform: translateY(100%) translateY(-5px);
  transition: all 0.3s;
  flex-wrap: wrap;
  background: rgba(0, 0, 0, 0.1);
}

/* line 74, ../sass/style.sass */
.player:hover .player__controls {
  transform: translateY(0);
}

/* line 78, ../sass/style.sass */
.player:hover .progress {
  height: 15px;
}

/* line 82, ../sass/style.sass */
.player__controls > * {
  flex: 1;
}

/* line 86, ../sass/style.sass */
.progress {
  flex: 10;
  position: relative;
  display: flex;
  flex-basis: 100%;
  height: 5px;
  transition: height 0.3s;
  background: rgba(0, 0, 0, 0.5);
  cursor: ew-resize;
}

/* line 97, ../sass/style.sass */
.progress__filled {
  width: 50%;
  background: #ffc600;
  flex: 0;
  flex-basis: 50%;
}

/* unholy css to style input type="range" */
/* line 106, ../sass/style.sass */
input[type=range] {
  -webkit-appearance: none;
  background: transparent;
  width: 100%;
  margin: 0 5px;
}
/* line 113, ../sass/style.sass */
input[type=range]:focus {
  outline: none;
}
/* line 117, ../sass/style.sass */
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px transparent, 0 0 1px rgba(13, 13, 13, 0);
  background: rgba(255, 255, 255, 0.8);
  border-radius: 1.3px;
  border: 0.2px solid rgba(1, 1, 1, 0);
}
/* line 127, ../sass/style.sass */
input[type=range]::-webkit-slider-thumb {
  height: 15px;
  width: 15px;
  border-radius: 50px;
  background: #ffc600;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3.5px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}
/* line 138, ../sass/style.sass */
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #bada55;
}
/* line 142, ../sass/style.sass */
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px transparent, 0 0 1px rgba(13, 13, 13, 0);
  background: #ffffff;
  border-radius: 1.3px;
  border: 0.2px solid rgba(1, 1, 1, 0);
}
/* line 152, ../sass/style.sass */
input[type=range]::-moz-range-thumb {
  box-shadow: 0 0 0 transparent, 0 0 0 rgba(13, 13, 13, 0);
  height: 15px;
  width: 15px;
  border-radius: 50px;
  background: #ffc600;
  cursor: pointer;
}
